.bible {
    background-color: #FF7234;
}
.ongoingprayer{
    background-color: #EC3310;
}
.answertoprayer{
    background-color: rgb(236, 113, 133);
}
.salvation{
    background-color: #2DB3C0;
}
.rededication{
    background-color:rgb(25, 162, 25); 
}
.referrals{
    background-color: #00323B;
}
.emotionalneeds{
    background-color: #FCD5C9;
}
.financialneeds{
    background-color: purple;
}

.addiction{
    background-color: #FFEAE4;
}
.genderissues{
    background-color: rgb(169, 229, 49);
}
.familyconcerns{
    background-color: #FF7234;
}
.physicalhealing{
    background-color: powderblue;
}
.abuse{
    background-color: #EC3310;
}