.whoIAmInChrist, .salvation{
    background-color: #EC3310;
}
.theImportanceOfTheLocalChurch, .rededication, .spiritualWarfare{
    background-color: rgb(236, 113, 133);
}
.romans8LifeInTheSpiritIsVictory, .physicalTest5{
    background-color: #2DB3C0;
}

.faith, .physicalResource1Test, .ongoingprayer {
    background-color: #FF7234;
}
.godsPresenceToComfort, .forgiveness , .literature{
    background-color: #2DB3C0;
}
.peace{
    background-color:rgb(25, 162, 25); 
}
.prayerBibleReading{
    background-color: #00323B;
}
.hope, .addiction{
    background-color: #FCD5C9;
}
.finances, .walkoffaith{
    background-color: purple;
}
.healingBodySoulSpirit, .answertoprayer{
    background-color: #FFEAE4;
}
.healingPersonalizedPrayer{
    background-color: rgb(169, 229, 49);
}
.familyconcerns, .emotionalNeeds {
    background-color: #FF7234;
}
.healing{
    background-color: powderblue;
}
.guidance, .churchreferrals{
    background-color: #EC3310;
}
